@tailwind base;
@tailwind components;
@tailwind utilities;

.firstRow {
    width: 33.333333% !important;
    text-align: center;
}

.btnMaxWidth {
    max-width: 200px;
}

.quoteWidth {
    max-width: 50% !important;
}